<template>
    <div class="delete">
<h1>Delete</h1>
        <v-layout>
            <v-flex xs6 offset-xs3>
                <v-card>
                    <v-card-text>
                        <form @keyup.enter="eliminarAutor">
                            <v-text-field
                                    v-model="idAutor"
                                    label="ID del Autor a eliminar"
                                    required
                            >
                            </v-text-field>
                        </form>
                    </v-card-text>
                    <v-btn class="mb-3" success @click='eliminarAutor(idAutor)'>Eliminar</v-btn>
                </v-card>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        name: 'Delete',
        created: function () {
            this.eliminarAutor(idAutor)
        },
        data () {
            return {
                idAutor: ''
            }
        },

        methods: {

            eliminarAutor: function (idAutor) {

                console.log(this.idAutor)

                var url = 'http://localhost:8000/api/autores/' +
                    idAutor

                console.log(url)

                axios.delete(url,

                    {

                        'headers':

                            {

                                'Accept': 'application/json',

                                'Content-type': 'application/json'

                            }}).then(response => {

                    console.log(response.data)

                    this.$router.push('/get')

                })

            }

        }

    }

</script>
