<template>
    <div class="get">
        <h1>Get</h1>
        <div class="text-xs-center">
            <v-btn @click='getAutores(mostrar)' class="mb-3" success>Ver Autores</v-btn>
        </div>
        <div v-if="mostrar==!false">
            <v-layout>
                <v-flex offset-sm3 sm6 xs12>
                    <div align="center" v-for="autor in resultados">
                        <v-card>
                            <v-img
                                    class="white--text"
                                    height="200px"
                                    src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                            >
                                <v-container fill-height fluid>
                                    <v-layout fill-height>
                                        <v-flex align-end flexbox xs12>
                                            <span class="headline">{{autor.id}}</span><br>
                                            <span>{{autor.nombre}}</span><br>
                                            <span> {{autor.nacionalidad}}</span>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-img>
                            <v-card-title>
                                <div>
                                    <span class="grey--text">{{autor.bio}}</span><br>
                                    <span>{{autor.created_at}}</span><br>
                                    <span>{{autor.updated_at}}</span>
                                </div>
                            </v-card-title>
                            <v-card-actions>
                                <v-btn color="orange" flat>Share</v-btn>
                                <v-btn color="orange" flat>Explore</v-btn>
                            </v-card-actions>
                        </v-card>
                    </div>
                </v-flex>
            </v-layout>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'Get',
        created() {
            this.getAutores(mostrar)
        },
        data() {
            return {
                mostrar: false,
                resultados: [],
                autor: {
                    bio: '',
                    created_at: '',
                    id: '',
                    nacionalidad: '',
                    nombre: '',
                    updated_at: ''
                },
                card_text: ''
            }
        },
        methods: {

            getAutores: function (mostrar) {

                var url = 'http://localhost:8000/api/autores'

                this.mostrar = true

                axios.get(url, {

                    headers: {

                        'Accept': 'application/json',

                        'Content-Type': 'application/json'

                    }

                }).then(response => {

                    this.resultados = response.data

// console.log(response)

                    console.log(this.resultados)

                }).catch(error => {

                    console.log(error)

                })

            }

        }

    }

</script>


