<template>
    <div class="post">
    <v-layout>
        <v-flex xs6 offset-xs3>
            <v-card>
                <v-card-text>
                    <form @keyup.enter="crearAutor">
                        <v-text-field
                                v-model="autor.nombre"
                                label="Nombre"
                                required
                        >
                        </v-text-field>
                        <v-text-field
                                v-model="autor.nacionalidad"
                                label="Nacionalidad"
                                required
                        >

                        </v-text-field>
                        <v-text-field
                                v-model="autor.bio"
                                label="Biografia"
                                required
                        >
                        </v-text-field>
                    </form>
                </v-card-text>
                <v-btn class="mb-3" success @click='crearAutor'>Crear</v-btn>
            </v-card>
        </v-flex>
    </v-layout>
    </div>
</template>


<script>
    import axios from 'axios'
    export default {
        name: 'Post',
        created: function () {
            this.crearAutor()
        },
        data () {
            return {
                autor: {
                    nombre: '',
                    nacionalidad: '',
                    bio: ''
                }
            }
        },

        methods: {

            crearAutor: function () {

                var url = 'http://localhost:8000/api/autores'

                axios.post(url, this.autor,

                    { 'headers':

                            {

                                'Accept': 'application/json',

                                'Content-type': 'application/json'

                            }})

                    .then(response => {

                        console.log(response)

                        this.$router.push('/get')

                    }).catch(error => {

                    console.log(error)

                })

            }

        }

    }
</script>