<template>
    <div class="post">
<h1>Put</h1>
        <v-layout>

            <v-flex xs6 offset-xs3>

                <v-card>

                    <v-card-text>

                        <form @keyup.enter="modificarAutor">

                            <v-text-field

                                    v-model="idAutor"

                                    label="ID del Autor a modificar"

                                    required

                            >

                            </v-text-field>

                            <v-text-field

                                    v-model="autor.nombre"

                                    label="Nombre"

                                    required

                            >

                            </v-text-field>

                            <v-text-field

                                    v-model="autor.nacionalidad"
                                    label="Nacionalidad"
                                    required
                            >
                            </v-text-field>
                            <v-text-field
                                    v-model="autor.bio"
                                    label="Biografia"
                                    required
                            >
                            </v-text-field>
                        </form>
                    </v-card-text>
                    <v-btn class="mb-3" success
                           @click='modificarAutor(idAutor,autor)'>Modificar</v-btn>
                </v-card>
            </v-flex>
        </v-layout>
    </div>
</template>


<script>
    import axios from 'axios'
    export default {
        name: 'Put',
        created: function () {
            this.modificarAutor(idAutor, autor)
        },
        data () {
            return {
                idAutor: '',
                autor: {
                    bio: '',
                    created_at: '',
                    id: '',
                    nacionalidad: '',
                    nombre: '',
                    updated_at: ''
                }
            }
        },

        methods: {
            modificarAutor: function (idAutor, autor) {
                console.log(autor.id)
                var url = 'http://localhost:8000/api/autores/' + idAutor
                axios.put(url,
                    {
                        nombre: autor.nombre,
                        nacionalidad: autor.nacionalidad,
                        bio: autor.bio
                    },
                    {
                        'headers':
                            {
                                'Accept': 'application/json',
                                'Content-type': 'application/json'
                            }}).then(response => {
                    console.log(response.data)
                    this.$router.push('/get')
                })
            }
        }
    }
</script>