<template>
    <v-card flat>
        <v-layout row pb-2>
            <v-flex xs8 offset-xs2>
                <v-card class="card--flex-toolbar">
                    <v-toolbar card prominent>
                        <v-toolbar-title class="body-2 dark--text">
                            <router-link to="/" tag="span" style="cursor:
pointer">Axios Home</router-link>
                        </v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn flat
                               v-for="item in menuItems"
                               :key="item.title"
                               router
                               :to="item.link">
                            <v-icon left dark>{{item.icon}}</v-icon>
                            {{item.title}}
                        </v-btn>
                    </v-toolbar>
                    <v-divider></v-divider>
                    <main>
                        <router-view></router-view>
                    </main>
                </v-card>
            </v-flex>
        </v-layout>
    </v-card>
</template>

<script>
export default {
  data () {
    return {
      sideNav: false,
      menuItems: [
        {icon: 'supervisor_account', title: 'Get', link: '/get'},
        {icon: 'room', title: 'Post', link: '/post'},
        {icon: 'person', title: 'Put', link: '/put'},
        {icon: 'face', title: 'Delete', link: '/delete'}

      ]
    }
  }
}
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
